In [13]:
# Dependencies
import pandas as pd
from pathlib import Path

# CSV paths
games_details_path = Path('../data/cleaned_data/games_details_cleaned.csv')
games_path = Path('../data/cleaned_data/games_cleaned.csv')
teams_path = Path('../data/cleaned_data/teams_cleaned.csv')
players_path = Path('../data/cleaned_data/players_cleaned.csv')
ranking_path = Path('../data/cleaned_data/ranking_cleaned.csv')

# Creating dataframes
games_details = pd.read_csv(games_details_path)
games = pd.read_csv(games_path)
teams = pd.read_csv(teams_path)
players = pd.read_csv(players_path)
ranking = pd.read_csv(ranking_path)

/var/folders/bb/4gpn5xfn0dqcx7v7w_7s2llc0000gn/T/ipykernel_28103/1532982492.py:13: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv(games_details_path)

In [14]:
# Getting rid of players who aren't starters
starters = games_details.dropna(subset=['START_POSITION'])
starters

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,222004771629641,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,222004771631110,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,222004771627751,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,222004771630170,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,222004771630200,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665670,21200001202087,21200001,1610612739,CLE,Cleveland,202087,Alonzo Gee,NaN,F,NaN,...,2.0,1.0,3.0,2.0,2.0,0.0,3.0,5.0,4.0,14.0
665671,21200001202684,21200001,1610612739,CLE,Cleveland,202684,Tristan Thompson,NaN,F,NaN,...,3.0,7.0,10.0,5.0,1.0,0.0,2.0,2.0,12.0,20.0
665672,212000012760,21200001,1610612739,CLE,Cleveland,2760,Anderson Varejao,NaN,C,NaN,...,12.0,11.0,23.0,9.0,0.0,2.0,1.0,4.0,9.0,7.0
665673,21200001203079,21200001,1610612739,CLE,Cleveland,203079,Dion Waiters,NaN,G,NaN,...,0.0,2.0,2.0,0.0,3.0,0.0,3.0,0.0,17.0,13.0
665674,21200001202681,21200001,1610612739,CLE,Cleveland,202681,Kyrie Irving,NaN,G,NaN,...,0.0,6.0,6.0,3.0,0.0,1.0,4.0,4.0,29.0,23.0

In [15]:
# Create a dataframe with the columns relevant to fantasy points
fantasy_score = starters[['PLAYER_NAME',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']]
fantasy_score

             PLAYER_NAME   REB  AST  STL  BLK   TO   PTS
0         Romeo Langford   2.0  0.0  1.0  0.0  2.0   2.0
1          Jeremy Sochan   9.0  6.0  1.0  0.0  2.0  23.0
2           Jakob Poeltl   4.0  1.0  1.0  0.0  2.0  13.0
3          Devin Vassell   9.0  5.0  3.0  0.0  2.0  10.0
4              Tre Jones   2.0  3.0  0.0  0.0  2.0  19.0
...                  ...   ...  ...  ...  ...  ...   ...
665670        Alonzo Gee   3.0  2.0  2.0  0.0  3.0   4.0
665671  Tristan Thompson  10.0  5.0  1.0  0.0  2.0  12.0
665672  Anderson Varejao  23.0  9.0  0.0  2.0  1.0   9.0
665673      Dion Waiters   2.0  0.0  3.0  0.0  3.0  17.0
665674      Kyrie Irving   6.0  3.0  0.0  1.0  4.0  29.0

[255644 rows x 7 columns]

In [16]:
# Grouping by player so we can get the total amount for each stat
fantasy_score_grouped = fantasy_score.groupby('PLAYER_NAME').sum().reset_index()
fantasy_score_grouped

             PLAYER_NAME     REB     AST    STL    BLK      TO     PTS
0             AJ Griffin    19.0    11.0   12.0    2.0    12.0   116.0
1               AJ Price    66.0   118.0   17.0    1.0    29.0   216.0
2           Aaron Brooks   489.0   915.0  148.0   32.0   470.0  3116.0
3           Aaron Gordon  3448.0  1405.0  404.0  332.0   836.0  7445.0
4             Aaron Gray   536.0    79.0   36.0   33.0    99.0   407.0
...                  ...     ...     ...    ...    ...     ...     ...
1551     Ziaire Williams    89.0    42.0   21.0    1.0    27.0   344.0
1552     Zion Williamson   832.0   418.0  113.0   65.0   326.0  3011.0
1553        Zoran Dragic     3.0     2.0    2.0    0.0     3.0    22.0
1554      Zoran Planinic    39.0    28.0   12.0    0.0    23.0    93.0
1555  Zydrunas Ilgauskas  4467.0   684.0  282.0  935.0  1013.0  7621.0

[1556 rows x 7 columns]

PTS = 1 Points
REB = 1.2 Points
AST = 1.5 Points
STL = 3 Points
BLK = 3 Points
TO = -1 Points

In [17]:
# Perform calculations on each column based on fantasy point system
fantasy_score_grouped['REB'] = fantasy_score_grouped['REB'] * 1.2
fantasy_score_grouped['AST'] = fantasy_score_grouped['AST'] * 1.5
fantasy_score_grouped['STL'] = fantasy_score_grouped['STL'] * 3
fantasy_score_grouped['BLK'] = fantasy_score_grouped['BLK'] * 3
fantasy_score_grouped['TO'] = fantasy_score_grouped['TO'] * -1
fantasy_score_grouped['PTS'] = fantasy_score_grouped['PTS'] * 1
fantasy_score_grouped

             PLAYER_NAME     REB     AST     STL     BLK      TO     PTS
0             AJ Griffin    22.8    16.5    36.0     6.0   -12.0   116.0
1               AJ Price    79.2   177.0    51.0     3.0   -29.0   216.0
2           Aaron Brooks   586.8  1372.5   444.0    96.0  -470.0  3116.0
3           Aaron Gordon  4137.6  2107.5  1212.0   996.0  -836.0  7445.0
4             Aaron Gray   643.2   118.5   108.0    99.0   -99.0   407.0
...                  ...     ...     ...     ...     ...     ...     ...
1551     Ziaire Williams   106.8    63.0    63.0     3.0   -27.0   344.0
1552     Zion Williamson   998.4   627.0   339.0   195.0  -326.0  3011.0
1553        Zoran Dragic     3.6     3.0     6.0     0.0    -3.0    22.0
1554      Zoran Planinic    46.8    42.0    36.0     0.0   -23.0    93.0
1555  Zydrunas Ilgauskas  5360.4  1026.0   846.0  2805.0 -1013.0  7621.0

[1556 rows x 7 columns]

In [18]:
# Create a new column with the total fantasy points
fantasy_score_grouped['Fantasy_Score'] = fantasy_score_grouped[
    'REB'] + fantasy_score_grouped['AST'] + fantasy_score_grouped[
        'AST'] + fantasy_score_grouped['STL'] + fantasy_score_grouped[
            'BLK'] + fantasy_score_grouped['TO'] + fantasy_score_grouped['PTS']

fantasy_score_grouped

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,Fantasy_Score
0,AJ Griffin,22.8,16.5,36.0,6.0,-12.0,116.0,201.8
1,AJ Price,79.2,177.0,51.0,3.0,-29.0,216.0,674.2
2,Aaron Brooks,586.8,1372.5,444.0,96.0,-470.0,3116.0,6517.8
3,Aaron Gordon,4137.6,2107.5,1212.0,996.0,-836.0,7445.0,17169.6
4,Aaron Gray,643.2,118.5,108.0,99.0,-99.0,407.0,1395.2
...,...,...,...,...,...,...,...,...
1551,Ziaire Williams,106.8,63.0,63.0,3.0,-27.0,344.0,615.8
1552,Zion Williamson,998.4,627.0,339.0,195.0,-326.0,3011.0,5471.4
1553,Zoran Dragic,3.6,3.0,6.0,0.0,-3.0,22.0,34.6
1554,Zoran Planinic,46.8,42.0,36.0,0.0,-23.0,93.0,236.8
1555,Zydrunas Ilgauskas,5360.4,1026.0,846.0,2805.0,-1013.0,7621.0,17671.4

In [19]:
# Find players with highest fantasy score
best_fantasy_players = fantasy_score_grouped.sort_values(
    by='Fantasy_Score', ascending=False)
best_fantasy_players.head(12)

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,Fantasy_Score
947,LeBron James,15511.2,18364.5,7950.0,3945.0,-5910.0,45759.0,103984.2
254,Chris Paul,7306.8,18855.0,8418.0,612.0,-3265.0,24382.0,75163.8
1299,Russell Westbrook,10144.8,14443.5,5724.0,1032.0,-4712.0,26294.0,67369.8
887,Kevin Durant,9812.4,7377.0,3690.0,3891.0,-3632.0,31530.0,60045.4
653,James Harden,6562.8,10654.5,4464.0,1614.0,-3870.0,24761.0,54840.8
446,Dwyane Wade,6435.6,9102.0,5328.0,2955.0,-3627.0,25408.0,54703.6
1380,Stephen Curry,5814.0,9831.0,4980.0,735.0,-3224.0,25142.0,53109.0
419,Dirk Nowitzki,11455.2,4638.0,2841.0,3051.0,-2075.0,26876.0,51424.2
212,Carmelo Anthony,9525.6,5233.5,3768.0,1788.0,-3190.0,28680.0,51038.6
444,Dwight Howard,17912.4,2581.5,3336.0,7014.0,-3450.0,20341.0,50316.4
908,Kobe Bryant,6307.2,7356.0,4302.0,1149.0,-3080.0,26615.0,50005.2
1426,Tim Duncan,13759.2,4897.5,2367.0,6732.0,-2362.0,19627.0,49918.2

The above dataframe includes every season, so the players who have been in the league the longest (and are good) will ultimately have the most points.

So we can break it down year by year...

In [23]:
games.head()

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22200477,2022-12-22,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,22200478,2022-12-22,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,22200466,2022-12-21,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,22200467,2022-12-21,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,22200468,2022-12-21,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [22]:
games_details.head()

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,222004771629641,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,222004771631110,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,222004771627751,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,222004771630170,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,222004771630200,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [21]:
starters.head()

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,222004771629641,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,222004771631110,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,222004771627751,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,222004771630170,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,222004771630200,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [25]:
ranking.head()

,ranking_PK,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,16106127432022-12-22,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,16106127632022-12-22,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,16106127402022-12-22,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,16106127562022-12-22,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,16106127462022-12-22,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN

We will have to find the number of games per season and the dates for each season online...

Games per season = 1,230
Games per team = 82

2022-2021 =
2021-2020 =
2020-2019 =
2019-2018 =
2018-2017 =
2017-2016 =
2016-2015 =
2015-2014 =

One of the data sets has a column named 'SEASON'. Is this column an accurate way to determine the season?

Let's check:

In [27]:
# Gives us a rough idea of the years included in this data set
games['SEASON'].unique()

array([2022, 2021, 2020, 2019, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2018, 2017, 2016, 2015, 2014])

In [43]:
# Let's check how many games there are in the different seasons
print('2021 season:', len(games[games['SEASON']==2021]['GAME_ID_pk'].unique()))
print('2020 season:', len(games[games['SEASON']==2020]['GAME_ID_pk'].unique()))
print('2019 season:', len(games[games['SEASON']==2019]['GAME_ID_pk'].unique()))
print('2018 season:', len(games[games['SEASON']==2018]['GAME_ID_pk'].unique()))
print('2017 season:', len(games[games['SEASON']==2017]['GAME_ID_pk'].unique()))
print('2016 season:', len(games[games['SEASON']==2016]['GAME_ID_pk'].unique()))
print('2015 season:', len(games[games['SEASON']==2015]['GAME_ID_pk'].unique()))
print('2014 season:', len(games[games['SEASON']==2014]['GAME_ID_pk'].unique()))

2021 season: 1389
2020 season: 1220
2019 season: 1241
2018 season: 1378
2017 season: 1382
2016 season: 1405
2015 season: 1416
2014 season: 1418

In [50]:
games

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22200477,2022-12-22,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,22200478,2022-12-22,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,22200466,2022-12-21,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,22200467,2022-12-21,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,22200468,2022-12-21,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26617,11400007,2014-10-06,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26618,11400004,2014-10-06,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26619,11400005,2014-10-06,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26620,11400002,2014-10-05,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26621,11400001,2014-10-04,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [59]:
# Let's see how many games a single team plays per season
games_2021 = games[games['SEASON']==2021]
print('Games played in 2021:', len(games_2021[games_2021['HOME_TEAM_ID']== 1610612738]['GAME_ID_pk'].unique()))
games_2020 = games[games['SEASON']==2020]
print('Games played in 2020:', len(games_2020[games_2020['HOME_TEAM_ID']== 1610612738]['GAME_ID_pk'].unique()))
games_2019 = games[games['SEASON']==2019]
print('Games played in 2019:', len(games_2019[games_2019['HOME_TEAM_ID']== 1610612738]['GAME_ID_pk'].unique()))
games_2018 = games[games['SEASON']==2018]
print('Games played in 2018:', len(games_2018[games_2018['HOME_TEAM_ID']== 1610612738]['GAME_ID_pk'].unique()))
games_2017 = games[games['SEASON']==2017]
print('Games played in 2017:', len(games_2017[games_2017['HOME_TEAM_ID']== 1610612738]['GAME_ID_pk'].unique()))

Games played in 2021: 55
Games played in 2020: 40
Games played in 2019: 48
Games played in 2018: 47
Games played in 2017: 54

In [ ]:
games[(games['SEASON'] == 2022) | (games['SEASON'] == 2021)]

In [66]:
team_v_team

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
21006,41700307,2018-05-27,Final,1610612738,1610612739,2017,1610612738,79.0,0.341,0.737,...,18.0,42.0,1610612739,87.0,0.455,0.720,0.257,15.0,41.0,0
21010,41700305,2018-05-23,Final,1610612738,1610612739,2017,1610612738,96.0,0.365,0.913,...,18.0,45.0,1610612739,83.0,0.419,0.632,0.265,17.0,39.0,1
21016,41700302,2018-05-15,Final,1610612738,1610612739,2017,1610612738,107.0,0.435,0.850,...,24.0,46.0,1610612739,94.0,0.463,0.588,0.323,18.0,45.0,1
21018,41700301,2018-05-13,Final,1610612738,1610612739,2017,1610612738,108.0,0.512,0.846,...,27.0,48.0,1610612739,83.0,0.360,0.850,0.154,18.0,40.0,1
21019,41700215,2018-05-09,Final,1610612738,1610612755,2017,1610612738,114.0,0.447,0.756,...,18.0,39.0,1610612755,112.0,0.488,0.774,0.381,26.0,48.0,1
21031,41700212,2018-05-03,Final,1610612738,1610612755,2017,1610612738,108.0,0.451,0.792,...,23.0,41.0,1610612755,103.0,0.435,0.714,0.394,30.0,49.0,1
21035,41700211,2018-04-30,Final,1610612738,1610612755,2017,1610612738,117.0,0.482,0.947,...,27.0,36.0,1610612755,101.0,0.422,0.743,0.192,22.0,45.0,1
21038,41700117,2018-04-28,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,28.0,42.0,1610612749,96.0,0.473,0.944,0.333,21.0,32.0,1
21048,41700115,2018-04-24,Final,1610612738,1610612749,2017,1610612738,92.0,0.420,0.750,...,22.0,50.0,1610612749,87.0,0.368,0.700,0.273,21.0,37.0,1
21071,41700112,2018-04-17,Final,1610612738,1610612749,2017,1610612738,120.0,0.533,0.611,...,24.0,38.0,1610612749,106.0,0.597,0.412,0.412,19.0,38.0,1
21075,41700111,2018-04-15,Final,1610612738,1610612749,2017,1610612738,113.0,0.415,0.889,...,20.0,45.0,1610612749,107.0,0.482,0.792,0.381,22.0,42.0,1
21083,21701219,2018-04-11,Final,1610612738,1610612751,2017,1610612738,110.0,0.451,0.800,...,22.0,62.0,1610612751,97.0,0.407,0.750,0.275,27.0,44.0,1
21112,21701202,2018-04-08,Final,1610612738,1610612737,2017,1610612738,106.0,0.512,0.650,...,33.0,41.0,1610612737,112.0,0.500,0.786,0.429,23.0,37.0,0
21127,21701185,2018-04-06,Final,1610612738,1610612741,2017,1610612738,111.0,0.556,0.412,...,35.0,46.0,1610612741,104.0,0.465,0.588,0.467,25.0,43.0,1
21173,21701140,2018-03-31,Final,1610612738,1610612761,2017,1610612738,110.0,0.455,0.852,...,19.0,41.0,1610612761,99.0,0.463,0.773,0.229,23.0,46.0,1
21251,21701059,2018-03-20,Final,1610612738,1610612760,2017,1610612738,100.0,0.414,0.938,...,22.0,52.0,1610612760,99.0,0.412,0.655,0.370,19.0,44.0,1
21296,21701017,2018-03-14,Final,1610612738,1610612764,2017,1610612738,124.0,0.485,0.696,...,30.0,44.0,1610612764,125.0,0.474,0.750,0.375,29.0,52.0,0
21320,21700998,2018-03-11,Final,1610612738,1610612754,2017,1610612738,97.0,0.420,0.810,...,26.0,42.0,1610612754,99.0,0.481,0.900,0.545,26.0,39.0,0
21396,21700916,2018-02-28,Final,1610612738,1610612766,2017,1610612738,134.0,0.621,0.933,...,31.0,47.0,1610612766,106.0,0.462,0.591,0.333,24.0,33.0,1
21409,21700898,2018-02-26,Final,1610612738,1610612763,2017,1610612738,109.0,0.453,0.704,...,25.0,44.0,1610612763,98.0,0.436,0.781,0.217,27.0,40.0,1
21455,21700858,2018-02-14,Final,1610612738,1610612746,2017,1610612738,119.0,0.433,0.952,...,24.0,46.0,1610612746,129.0,0.500,0.909,0.379,26.0,43.0,0
21476,21700835,2018-02-11,Final,1610612738,1610612739,2017,1610612738,99.0,0.404,0.773,...,22.0,43.0,1610612739,121.0,0.536,0.750,0.533,22.0,41.0,0
21492,21700820,2018-02-09,Final,1610612738,1610612754,2017,1610612738,91.0,0.382,0.800,...,16.0,38.0,1610612754,97.0,0.446,0.818,0.250,18.0,53.0,0
21524,21700784,2018-02-04,Final,1610612738,1610612757,2017,1610612738,97.0,0.412,0.706,...,24.0,51.0,1610612757,96.0,0.396,0.786,0.419,21.0,46.0,1
21540,21700767,2018-02-02,Final,1610612738,1610612737,2017,1610612738,119.0,0.506,0.900,...,26.0,42.0,1610612737,110.0,0.425,0.912,0.355,21.0,36.0,1
21558,21700758,2018-01-31,Final,1610612738,1610612752,2017,1610612738,103.0,0.482,0.600,...,27.0,49.0,1610612752,73.0,0.322,0.667,0.176,16.0,44.0,1
21627,21700683,2018-01-21,Final,1610612738,1610612753,2017,1610612738,95.0,0.435,0.929,...,22.0,44.0,1610612753,103.0,0.467,0.688,0.286,20.0,44.0,0
21647,21700663,2018-01-18,Final,1610612738,1610612755,2017,1610612738,80.0,0.405,0.765,...,13.0,31.0,1610612755,89.0,0.466,0.882,0.353,18.0,41.0,0
21662,21700650,2018-01-16,Final,1610612738,1610612740,2017,1610612738,113.0,0.396,0.875,...,27.0,53.0,1610612740,116.0,0.450,0.760,0.259,28.0,55.0,0
21737,21700570,2018-01-05,Final,1610612738,1610612750,2017,1610612738,91.0,0.404,0.692,...,24.0,56.0,1610612750,84.0,0.368,0.750,0.304,15.0,43.0,1
21753,21700559,2018-01-03,Final,1610612738,1610612739,2017,1610612738,102.0,0.446,0.727,...,27.0,52.0,1610612739,88.0,0.348,1.000,0.250,16.0,48.0,1
21771,21700539,2017-12-31,Final,1610612738,1610612751,2017,1610612738,108.0,0.494,0.640,...,21.0,50.0,1610612751,105.0,0.411,0.842,0.306,25.0,45.0,1
21794,21700517,2017-12-28,Final,1610612738,1610612745,2017,1610612738,99.0,0.451,0.708,...,18.0,44.0,1610612745,98.0,0.375,0.774,0.326,16.0,43.0,1
21818,21700495,2017-12-25,Final,1610612738,1610612764,2017,1610612738,103.0,0.481,0.647,...,20.0,45.0,1610612764,111.0,0.462,0.679,0.231,26.0,47.0,0
21826,21700485,2017-12-23,Final,1610612738,1610612741,2017,1610612738,117.0,0.478,0.810,...,29.0,46.0,1610612741,92.0,0.395,0.680,0.368,24.0,51.0,1
21850,21700456,2017-12-20,Final,1610612738,1610612748,2017,1610612738,89.0,0.375,0.762,...,18.0,44.0,1610612748,90.0,0.440,0.560,0.357,23.0,46.0,0
21890,21700423,2017-12-15,Final,1610612738,1610612762,2017,1610612738,95.0,0.407,0.842,...,20.0,31.0,1610612762,107.0,0.482,0.778,0.520,19.0,55.0,0
21904,21700407,2017-12-13,Final,1610612738,1610612743,2017,1610612738,124.0,0.595,0.792,...,29.0,30.0,1610612743,118.0,0.495,0.731,0.321,22.0,48.0,1
21954,21700356,2017-12-06,Final,1610612738,1610612742,2017,1610612738,97.0,0.414,0.765,...,25.0,53.0,1610612742,90.0,0.395,0.765,0.321,19.0,45.0,1
21968,21700343,2017-12-04,Final,1610612738,1610612749,2017,1610612738,111.0,0.551,0.789,...,25.0,45.0,1610612749,100.0,0.449,0.875,0.429,17.0,28.0,1
21980,21700326,2017-12-02,Final,1610612738,1610612756,2017,1610612738,116.0,0.525,0.783,...,32.0,31.0,1610612756,111.0,0.475,0.727,0.292,24.0,47.0,1
21997,21700314,2017-11-30,Final,1610612738,1610612755,2017,1610612738,108.0,0.506,0.800,...,25.0,40.0,1610612755,97.0,0.417,0.611,0.500,24.0,45.0,1
22018,21700292,2017-11-27,Final,1610612738,1610612765,2017,1610612738,108.0,0.519,0.571,...,27.0,36.0,1610612765,118.0,0.518,0.826,0.440,26.0,40.0,0
22039,21700269,2017-11-24,Final,1610612738,1610612753,2017,1610612738,118.0,0.462,0.680,...,27.0,46.0,1610612753,103.0,0.432,0.632,0.375,21.0,51.0,1
22097,21700215,2017-11-16,Final,1610612738,1610612744,2017,1610612738,92.0,0.329,0.868,...,15.0,52.0,1610612744,88.0,0.402,0.632,0.313,22.0,47.0,1
22122,21700188,2017-11-12,Final,1610612738,1610612761,2017,1610612738,95.0,0.402,0.789,...,24.0,46.0,1610612761,94.0,0.464,0.870,0.417,18.0,36.0,1
22138,21700170,2017-11-10,Final,1610612738,1610612766,2017,1610612738,90.0,0.357,0.840,...,15.0,49.0,1610612766,87.0,0.388,0.576,0.273,20.0,47.0,1
22152,21700161,2017-11-08,Final,1610612738,1610612747,2017,1610612738,107.0,0.388,0.774,...,20.0,48.0,1610612747,96.0,0.435,0.739,0.208,16.0,48.0,1
22201,21700109,2017-11-01,Final,1610612738,1610612758,2017,1610612738,113.0,0.488,0.842,...,30.0,52.0,1610612758,86.0,0.432,0.833,0.300,24.0,26.0,1
22213,21700092,2017-10-30,Final,1610612738,1610612759,2017,1610612738,108.0,0.477,0.813,...,24.0,54.0,1610612759,94.0,0.414,0.500,0.462,24.0,40.0,1
22261,21700051,2017-10-24,Final,1610612738,1610612752,2017,1610612738,110.0,0.493,0.815,...,26.0,41.0,1610612752,89.0,0.424,0.640,0.083,20.0,43.0,1
22304,21700007,2017-10-18,Final,1610612738,1610612749,2017,1610612738,100.0,0.429,0.524,...,23.0,43.0,1610612749,108.0,0.500,0.833,0.333,19.0,45.0,0
22336,11700048,2017-10-09,Final,1610612738,1610612755,2017,1610612738,113.0,0.398,0.738,...,19.0,53.0,1610612755,96.0,0.440,0.517,0.280,23.0,47.0,1
22374,11700008,2017-10-02,Final,1610612738,1610612766,2017,1610612738,94.0,0.418,0.538,...,26.0,52.0,1610612766,82.0,0.375,0.667,0.286,18.0,45.0,1

In [67]:
team_v_team = games_2017[games_2017['HOME_TEAM_ID']==1610612738]
team_v_team[team_v_team['VISITOR_TEAM_ID']==1610612739]

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
21006,41700307,2018-05-27,Final,1610612738,1610612739,2017,1610612738,79.0,0.341,0.737,...,18.0,42.0,1610612739,87.0,0.455,0.720,0.257,15.0,41.0,0
21010,41700305,2018-05-23,Final,1610612738,1610612739,2017,1610612738,96.0,0.365,0.913,...,18.0,45.0,1610612739,83.0,0.419,0.632,0.265,17.0,39.0,1
21016,41700302,2018-05-15,Final,1610612738,1610612739,2017,1610612738,107.0,0.435,0.850,...,24.0,46.0,1610612739,94.0,0.463,0.588,0.323,18.0,45.0,1
21018,41700301,2018-05-13,Final,1610612738,1610612739,2017,1610612738,108.0,0.512,0.846,...,27.0,48.0,1610612739,83.0,0.360,0.850,0.154,18.0,40.0,1
21476,21700835,2018-02-11,Final,1610612738,1610612739,2017,1610612738,99.0,0.404,0.773,...,22.0,43.0,1610612739,121.0,0.536,0.750,0.533,22.0,41.0,0
21753,21700559,2018-01-03,Final,1610612738,1610612739,2017,1610612738,102.0,0.446,0.727,...,27.0,52.0,1610612739,88.0,0.348,1.000,0.250,16.0,48.0,1

In [ ]:
# Let's check another team...

In [ ]:
# Let's see if each team played the right number of games
print('2021 season:', len(games[games['SEASON']==2021]['GAME_ID_pk'].unique()))

In [ ]:
1610612740

In [ ]:
szn_2021[szn_2021['HOME_TEAM_ID']==1610612738]

In [48]:
len(teams['NICKNAME'].unique())*82

2460

In [ ]:
games[(games['SEASON'] == 2022) | (games['SEASON'] == 2021)]['GAME_DATE_EST'].unique()

In [ ]:
games = pd.to_datetime(games['GAME_DATE_EST'])