In [17]:
# Pandas
import pandas as pd

#Install psycopg2
import psycopg2

# SQL Alchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/project_3_nba_stats')

In [19]:
# Dependencies
import pandas as pd
from pathlib import Path

# CSV paths
games_details_path = 'SELECT * FROM games_details'
games_path = 'SELECT * FROM games'
teams_path = 'SELECT * FROM teams'
players_path = 'SELECT * FROM players'
ranking_path = 'SELECT * FROM ranking'

# Creating dataframes
games_details = pd.read_sql_query(games_details_path, con=engine)
games = pd.read_sql_query(games_path, con=engine)
teams = pd.read_sql_query(teams_path, con=engine)
players = pd.read_sql_query(players_path, con=engine)
ranking = pd.read_sql_query(ranking_path, con=engine)

Dealig with primary keys! Creating necessary composite keys, and making sure there are no duplicates.

PRIMARY KEYS:
games_details = GAME_ID + PLAYER ID
games = GAME_ID
teams = TEAM_ID
players = TEAM_ID + PLAYER_ID + SEASON
ranking = TEAM_ID + STANDINGSDATE

1. games_details = GAME_ID + PLAYER ID

In [20]:
# View dataframe
games_details.head(3)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,None,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,None,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,None,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0

In [21]:
# Making composite key (changing columns to strings or else it adds them, therefore not unique)
games_details['games_details_PK'] = games_details['GAME_ID'].astype(str
                                    ) + games_details['PLAYER_ID'].astype(str)

In [4]:
# Make sure it worked
games_details.head(1)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,games_details_PK
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,222004771629641

In [5]:
# Get column names so you can easily rearrange them in the next step
games_details.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'games_details_PK'],
      dtype='object')

In [6]:
# Rearrange columns so the primary key is the first column
games_details = games_details[['games_details_PK','GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS']]
games_details.head(1)

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,222004771629641,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0

In [7]:
# Check to see if there duplicates in the primary key
games_details['games_details_PK'].value_counts()

games_details_PK
22000013201577     2
22000017203937     2
220000171627751    2
220000401627823    2
22000070201961     2
                  ..
205007282420       1
205007281713       1
20500728467        1
205007281521       1
11200005201951     1
Name: count, Length: 668339, dtype: int64

In [8]:
# Double check that duplicates are really duplicates
games_details[games_details['games_details_PK']=='22000013201577']

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
67751,22000013201577,22000013,1610612764,WAS,Washington,201577,Robin Lopez,NaN,NaN,NaN,...,1.0,2.0,3.0,0.0,0.0,1.0,2.0,4.0,3.0,-16.0
82784,22000013201577,22000013,1610612764,WAS,Washington,201577,Robin Lopez,NaN,NaN,NaN,...,1.0,2.0,3.0,0.0,0.0,1.0,2.0,4.0,3.0,-16.0

In [9]:
# Drop duplicates
games_details = games_details.drop_duplicates(subset=['games_details_PK'])

In [10]:
# Make sure duplicates got dropped
games_details['games_details_PK'].value_counts()

games_details_PK
222004771629641    1
218000291626185    1
21800026203124     1
21800026203926     1
218000261628410    1
                  ..
20500732708        1
205007322058       1
205007321729       1
205007321853       1
11200005201951     1
Name: count, Length: 668339, dtype: int64

In [41]:
# Exporting cleaned data
games_details.to_csv('../data/cleaned_data/games_details_cleaned.csv',index=False,header=True)

2. games = GAME_ID

In [11]:
# View dataframe
games.head(3)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1

In [12]:
# Get column names
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [13]:
# Rearrange columns
games = games[['GAME_ID','GAME_DATE_EST', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS']]
games.head(1)

,GAME_ID,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22200477,2022-12-22,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1

In [14]:
# Rename PK column
games = games.rename(columns={'GAME_ID':'GAME_ID_pk'})
games.head(1)

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22200477,2022-12-22,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1

In [15]:
# Check for duplicates
games['GAME_ID_pk'].value_counts()

GAME_ID_pk
22000032    2
22000053    2
22000072    2
22000018    2
22000076    2
           ..
21000404    1
21000403    1
21000402    1
21000401    1
11400001    1
Name: count, Length: 26622, dtype: int64

In [16]:
# Double check that duplicates are really duplicates
games[games['GAME_ID_pk']==22000032]

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
2515,22000032,2020-12-27,Final,1610612766,1610612751,2020,1610612766,106.0,0.448,0.588,...,35.0,52.0,1610612751,104.0,0.427,0.68,0.362,23.0,46.0,1
3116,22000032,2020-12-27,Final,1610612766,1610612751,2020,1610612766,106.0,0.448,0.588,...,35.0,52.0,1610612751,104.0,0.427,0.68,0.362,23.0,46.0,1

In [17]:
# Drop duplicates
games = games.drop_duplicates(subset=['GAME_ID_pk'])

# Make sure duplicates got dropped
games['GAME_ID_pk'].value_counts()

GAME_ID_pk
22200477    1
20400082    1
20400073    1
20400079    1
20400077    1
           ..
21000429    1
21000428    1
21000427    1
21000426    1
11400001    1
Name: count, Length: 26622, dtype: int64

In [42]:
# Exporting cleaned data
games.to_csv('../data/cleaned_data/games_cleaned.csv',index=False,header=True)

3. teams = TEAM_ID

In [18]:
# View dataframe
teams.head(3)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate

In [19]:
# Get column names
teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [20]:
# Rearrange columns
teams = teams[['TEAM_ID','LEAGUE_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION']]
teams.head(1)

,TEAM_ID,LEAGUE_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,0,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks

In [21]:
# Rename PK column
teams = teams.rename(columns={'TEAM_ID':'TEAM_ID_pk'})
teams.head(1)

,TEAM_ID_pk,LEAGUE_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,0,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks

In [22]:
# Check for duplicates
teams['TEAM_ID_pk'].value_counts()

TEAM_ID_pk
1610612737    1
1610612738    1
1610612739    1
1610612766    1
1610612765    1
1610612764    1
1610612763    1
1610612762    1
1610612761    1
1610612760    1
1610612759    1
1610612758    1
1610612757    1
1610612756    1
1610612755    1
1610612754    1
1610612753    1
1610612752    1
1610612751    1
1610612750    1
1610612749    1
1610612748    1
1610612747    1
1610612746    1
1610612745    1
1610612743    1
1610612742    1
1610612741    1
1610612740    1
1610612744    1
Name: count, dtype: int64

In [43]:
# Exporting cleaned data
teams.to_csv('../data/cleaned_data/teams_cleaned.csv',index=False,header=True)

4. players = TEAM_ID + PLAYER_ID + SEASON

In [23]:
# View dataframe
players.head(3)

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019

In [24]:
# Making composite key 
players['players_PK'] = players['TEAM_ID'].astype(str) + players[
    'PLAYER_ID'].astype(str) + players['SEASON'].astype(str)

In [25]:
# Make sure it worked
players.head(1)

     PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON             players_PK
0  Royce O'Neale  1610612762    1626220    2019  161061276216262202019

In [26]:
# Get column names
players.columns

Index(['PLAYER_NAME', 'TEAM_ID', 'PLAYER_ID', 'SEASON', 'players_PK'], dtype='object')

In [27]:
# Rearrange columns
players = players[['players_PK', 'PLAYER_NAME', 'TEAM_ID', 'PLAYER_ID', 'SEASON']]
players.head(1)

              players_PK    PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0  161061276216262202019  Royce O'Neale  1610612762    1626220    2019

In [28]:
# Check for duplicates
players['players_PK'].value_counts()

players_PK
161061276216262202019    1
16106127522007792012     1
16106127542031112012     1
16106127541011232012     1
16106127541011332012     1
                        ..
161061275816278342016    1
16106127582040382016     1
161061275816277412016    1
161061275816261612016    1
16106127625000322009     1
Name: count, Length: 7228, dtype: int64

In [44]:
# Exporting cleaned data
players.to_csv('../data/cleaned_data/players_cleaned.csv',index=False,header=True)

5. ranking = TEAM_ID + STANDINGSDATE

In [29]:
# View dataframe
ranking.head(3)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN

In [30]:
# Making composite key
ranking['ranking_PK'] = ranking['TEAM_ID'].astype(str) + ranking['STANDINGSDATE']

In [31]:
# Make sure it worked
ranking.head(1)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,ranking_PK
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN,16106127432022-12-22

In [32]:
# Column names
ranking.columns

Index(['TEAM_ID', 'LEAGUE_ID', 'SEASON_ID', 'STANDINGSDATE', 'CONFERENCE',
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD',
       'RETURNTOPLAY', 'ranking_PK'],
      dtype='object')

In [33]:
# Rearrange columns
ranking = ranking[['ranking_PK','TEAM_ID', 'LEAGUE_ID', 'SEASON_ID', 'STANDINGSDATE', 'CONFERENCE',
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD',
       'RETURNTOPLAY']]
ranking.head(1)

,ranking_PK,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,16106127432022-12-22,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN

In [34]:
# Check for duplicates
ranking['ranking_PK'].value_counts()

ranking_PK
16106127442020-12-28    2
16106127632020-12-29    2
16106127522020-12-28    2
16106127492020-12-28    2
16106127662020-12-28    2
                       ..
16106127592007-12-23    1
16106127562007-12-23    1
16106127422007-12-23    1
16106127472007-12-23    1
16106127492014-09-01    1
Name: count, Length: 210313, dtype: int64

In [35]:
# Double check that duplicates are really duplicates
ranking[ranking['ranking_PK']=='16106127442020-12-28']

,ranking_PK,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
19302,16106127442020-12-28,1610612744,0,22020,2020-12-28,West,Golden State,3,1,2,0.333,0-0,1-2,NaN
20948,16106127442020-12-28,1610612744,0,22020,2020-12-28,West,Golden State,3,1,2,0.333,0-0,1-2,NaN

In [36]:
# Drop duplicates
ranking = ranking.drop_duplicates(subset=['ranking_PK'])

In [38]:
# Make sure duplicates got dropped
ranking['ranking_PK'].value_counts()

ranking_PK
16106127432022-12-22    1
16106127652011-04-16    1
16106127412011-04-16    1
16106127482011-04-16    1
16106127382011-04-16    1
                       ..
16106127632007-12-25    1
16106127602007-12-25    1
16106127502007-12-25    1
16106127592007-12-24    1
16106127492014-09-01    1
Name: count, Length: 210313, dtype: int64

In [45]:
# Exporting cleaned data
ranking.to_csv('../data/cleaned_data/ranking_cleaned.csv',index=False,header=True)